#forgot_password {
    .forgotpassword_box {
      background-color: $section_color;
      margin: 100px 0;
  
      /* ==== Responsive Devices ==== */
      @include device_xl {
        margin: 90px 0;
      }
      @include device_lg {
        margin: 80px 0;
      }
      @include device_md {
        margin: 70px 0;
      }
      @include device_sm {
        margin: 60px 0;
      }
  
      @include device_xsm {
        margin: 50px 0;
      }
    }
  }